/*********** UNIVERSAL ************/
html {
    font-family: 'Arial';
    text-align: left;
    color: black;
}

/*********** TEXT ************/
h1 {
    font-weight: 700;
    font-size: 64px;
}

h2 {
    font-weight: 400;
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 20px;
}

/*********** HEADER ************/
.header {
    overflow: hidden;
    text-align: center;
}

.header a {
    float: right;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.header a.current {
    text-decoration: underline;
    color: black;
}

/*********** VISUAL BODY ************/

button {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    background-color: #BB0000;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
}

button[type=general] {
    font-size: 20px;
    padding:  15px;
    margin: 0px;
}

button[type=login] {
    margin: 20px 15px 20px 15px;
    width: 330px;
    font-size: 24px;
    padding:  15px 0px 15px 0px;
}

input[type=text] {
    width: 330px;
    font-size: 20px;
    padding:15px 0px 15px 10px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #BB0000;
    box-sizing: border-box;
    border-radius: 10px;
    color: #ACACAC;
}

input[type=search] {
    width: 600px;
    font-size: 20px;
    padding:15px 0px 15px 10px;
    margin: 10px 10px 10px 0px;
    display: inline-block;
    border: 1px solid #BB0000;
    box-sizing: border-box;
    border-radius: 10px;
    color: #ACACAC;
}

.filter {
    overflow: hidden;
    text-align: center;
}

.filter a {
    float: left;
    color: #ACACAC;
    padding: 40px 16px 0px 0px;
    text-decoration: none;
    font-size: 20px;
}

.filter a.current {
    color: black;
}

table {
     width: 100%;
     border-collapse: collapse;
     font-weight: 400;
}

table[type=header] {
     font-size: 20px;
     padding: 10px 0px;
     margin-top: 20px;
     margin-bottom: 20px;
}

table[type=content] {
     font-size: 24px;
     margin-bottom: 50px;
     height: 150px;
     border-radius: 10px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ol {
    font-size: 20px;
}

/*********** COLUMNS ************/
.column {
    float: left;
}


.left {
    margin-top: 187.185px;
    margin-left: 100px;
    padding-right: 50px;
    width: 780px;
    text-align: left;
}

.right {
    margin-top:175px;
    margin-right: 100px;
    width: 350px;
    padding: 40px 10px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.boxed {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Solid border */
hr.solid {
    border-top: 1px solid #E5E5E5;
}
/*********** TEXT ADJUSTMENT ************/
.bold {
    font-weight: 700;
}

.regular {
    font-weight: 400;
}

.center {
    text-align: center;
}

.tabbed {
    text-align: left;
    padding-left: 10px;
}

.pass {
    text-align: right;
    color: #ACACAC;
    margin-right: 10px;
}

.light {
    color: #ACACAC;
}

.click {
    color: #BB0000;
    text-decoration: underline;
  }

  .small {
    line-height: 70%;
  }

  .larger {
    line-height: 170%;
  }